HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Environment & Configuration Files ###
.env

### Deployment & n8n Configuration Files ###
deploy/cmd.txt
knowledge_base/holidate_chatbot_ai_agent_n8n.json
knowledge_base/holidate_training_ai_agent_n8n_with_pinecone.json
knowledge_base/holidate_training_ai_agent_n8n.json
knowledge_base/depoy-n8n-cmd.txt